.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  border: 1px solid blue;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  height: 100vh;
  margin-bottom: 100px;
  position:relative;

  display:flex;
  flex-direction:row;
}


.header-logo {
  width: 183px;
  height: 32px;
  position: absolute;
  border: 1px solid red;
  position: absolute;
  top:30px;
  left:64px;
}

.header_title {
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  border: 1px solid blue;
  display: flex;
  align-items: center;
  margin-left: 64px;
  margin-top:auto;
  margin-bottom:auto;
}

.header_subtitle {
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  border: 1px solid blue;
  position: absolute;
  bottom: 30px;
  left:64px;
}



.header-image {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 765px;
  height: 608px;
  border: 1px solid aqua;
  
  z-index: 3;
}
.header-color {
  width: 565px;
  height: 568px;
  border: 1px solid blue;
  position: absolute;
  right: 0px;
  top: 64px;
  z-index: 2;
  background-color: blue;
}
.header_link{

}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.content{

}

.description {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  min-width: 784px;
  padding:0px 0px;
  margin-bottom:100px;
}
.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid red;
}
.brief {
  border: 1px solid pink;
  width: 175px;
  background-position: left top;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  
}
.main_text {
  width: 80%;
  min-width: 784px;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: right;
}
.paragraph_4 {
  border: 1px solid pink;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}
.paragraph_5 {
  border: 1px solid pink;
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
.paragraph_6 {
  border: 1px solid pink;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}






.digits {
  margin-top: 100px;
  margin-bottom: 100px;
  margin:auto;
  display:flex;
  flex-direction:column;
}
.section-title {
  border: 1px solid red;
  margin-bottom: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}
.section-subtitle {
  border: 1px solid red;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table {
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.table-cell {
  margin-top: 60px;
  border: 1px solid red;
  width: 250px;
  display:flex;
  flex-direction:column;
  align-content:flex-start;
}
.table-cell_top {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  background-position: top;
  border: 1px solid red;
}
.table-cell_middle {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  background-position: center;
  border: 1px solid red;
  flex-grow:1;
}
.table-cell_bottom {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  border: 1px solid red;
}





.feynman {
  border: 1px solid red;
  margin-top: 100px;
  justify-content: center;
  padding-top:100px;
  padding-right:48px;
  height:790px;
  position:relative;
}
.feynman-title {
  margin-top:100px;
  border: 1px solid red;
  width: 648px;
  margin: auto;
  line-height: 1.15;
  font-size: 120px;
  vertical-align: top;
  text-align: center;
  align-self: center;
}
.feynman-block {
  border: 1px solid red;
  width: 648px;
  height: 70px;
  margin-top:0px;
  margin-bottom:0px;
}
.feynman-subtitle {
  border: 1px solid red;
  line-height: 51px;
  font-size: 36px;
  vertical-align: top;
  text-align: center;
  align-self: center;
  margin: auto;
}
.feynman-link {
  border: 1px solid red;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  top:50%;
}
.feynman-image {
  background-position: left bottom;
  bottom:0px;
  left:0px;
  border: 1px solid red;
  width: 867px;
  height: 637px;
  z-index: -1;
  position:absolute;
}



.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: black;
}
.kaufman-section-title {
  border: 1px solid red;
  color: white;
  margin-bottom: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
}
.kaufman-section-subtitle {
  border: 1px solid red;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  line-height: 34px;
  font-size: 24px;
}
.kaufman-table {
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.kaufman-table-cell {
  margin-top: 80px;
  margin-right: 0;
  border: 1px solid blue;
  width: 200px;
  color: white;
  padding:0px;
  display:flex;
  flex-direction:column;
}
.kaufman-table-cell_number {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  border: 1px solid blue;
}
.kaufman-table-cell_text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  border: 1px solid blue;
}




.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  margin: auto;
  min-height: 350px;
  width: 90%;
  background-color: black;
  color: white;
  min-height: 350px;
  box-sizing: border-box;
  width: 90%;
  border: 1px solid blue;
}
.footer-columns {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid blue;
  height: 250px;
}
.footer-column-first {
  border: 1px solid red;
  display: flex;
  flex-basis: 711px;
  background-position: left;
  flex-direction: column;
  background-color: black;
}
.logo-place_footer {
  width: 183px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid red;
  background-position: top left;
  margin-bottom:143px;
}
.footer_author {
  background-position: bottom left;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
  border: 1px solid red;
}
.footer-column-second {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.footer-column_heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}
.footer-column_headinglinks {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.footer-column_heading__main {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}
.footer-column_heading__conception {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}
.footer-column_heading__mentors {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 16px;
}
.footer-column-third {
  display: flex;
  flex-direction: column;
  background-position: right;
  border: 1px solid red;
}
.footer-column_links {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}
.footer-column_sociallinks {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.footer-column_links__facebook {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.footer-column_links__facebooklogo {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-size: contain;
  background-position: center;
  border: 1px solid red;
  align-self: center;
}
.footer-column_links__facebooktext {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer-column_links__vcontakte {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.footer-column_links__vcontaktelogo {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-size: contain;
  background-position: center;
  border: 1px solid red;
  align-self: center;
}
.footer-column_links__vcontaktetext {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer-column_links__instagram {
  margin-bottom: 16px;
  display:flex;
  flex-direction:row;
}
.footer-column_links__instagramlogo {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-size: contain;
  background-position: center;
  border: 1px solid red;
  align-self:center;
}
.footer-column_links__instagramtext {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}





