.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  height: 100vh;
  margin-bottom: 100px;
  position:relative;
  display:flex;
  flex-direction:row;
}

.header_logo {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header_title {
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  display: flex;
  align-items: center;
  margin-left: 64px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 4;
}

.header_subtitle {
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 4;
}

.header_image {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 765px;
  height: 608px;
  z-index: 3;
}
.header_color {
  width: 565px;
  height: 568px;
  position: absolute;
  right: 0px;
  top: 64px;
  z-index: 2;
  background-color:blue;
}
.header_link{
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}



.content{

}

.description {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  min-width: 784px;
  padding: 0px 0px;
  margin-bottom: 100px;
}
.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
  background-position: left top;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
  text-decoration: none;
  color: blue;
}
.two-columns__maintext {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: right;
}
.two-columns__maintext_paragraph4 {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
}
.two-columns__maintext_paragraph5 {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 30px;
}
.two-columns__span-accent {
  font-weight: 700;
}
.two-columns__maintext_paragraph6 {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
}






.digits {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top:100px;
  padding-bottom:100px;
  margin:auto;
  display:flex;
  flex-direction:column;
}
.digits__title {
  margin-bottom: 20px;
  margin-top:0px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}
.digits__subtitle {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0px;
  margin-top:0px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.digits__table {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.digits__table_cell {
  margin-top: 60px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.digits__table_celltop {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  background-position: top;
  margin-top:0px;
  margin-bottom:20px;
}
.digits__table_cellmiddle {
  margin-top: 0px;
  margin-bottom:20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  background-position: center;
  flex-grow: 1;
}
.digits__table_cellbottom {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom:0px;
}





.feynman {
  margin-top: 100px;
  justify-content: center;
  padding-top:100px;
  padding-right:48px;
  height:790px;
  position:relative;
}
.feynman__title {
  margin-top:100px;
  width: 648px;
  margin: auto;
  line-height: 1.15;
  font-size: 120px;
  vertical-align: top;
  text-align: center;
  align-self: center;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  vertical-align: top;
  text-align: center;
  align-self: center;
  margin: auto;
  margin-top: 70px;
}
.feynman__link {
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  top:50%;
}
.feynman__image {
  background-position: left bottom;
  bottom:0px;
  left:0px;
  width: 867px;
  height: 637px;
  z-index: -1;
  position:absolute;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  background-color: black;
}


.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: black;
}
.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  top: 0px;
  right: -210px;
  padding-bottom: 90px;
  background-color: black;
  background-image: url(../images/kaufman-triangle.svg);
}
.kaufman__title {
  color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0px;
  margin-top:0px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  z-index: 2;
}
.kaufman__subtitle {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0px;
  margin-top:20px;
  text-align: center;
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 2;
}
.kaufman__table {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}
.kaufman__table_cell {
  margin-top: 80px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  width: 200px;
  color: white;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  z-index: 2;
  list-style: none;
}
.kaufman__table_cellnumber {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  z-index: 2;
  margin-top: 0px;
  margin-bottom: 20px;
}
.kaufman__table_celltext {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
  margin-top: 0px;
  margin-bottom: 0px;
}




.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  margin: auto;
  min-height: 350px;
  width: 90%;
  background-color: black;
  color: white;
  box-sizing: border-box;
}
.footer__columns {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__column_content {
  display: flex;
  flex-basis: 711px;
  background-position: left;
  flex-direction: column;
  background-color: black;
}
.logo_place_footer {
  width: 183px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  margin-bottom:143px;
}
.footer__author {
  background-position: bottom left;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}
.footer__column_heading {
  display: flex;
  flex-direction: column;
}
.footer__column_headingname {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}
.footer__column_headinglinks {
  display: flex;
  flex-direction: column;
}
.footer__column_heading_main {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}
.footer__column_heading_conception {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}
.footer__column_heading_mentors {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 16px;
}
.footer__column_links {
  display: flex;
  flex-direction: column;
  background-position: right;
}
.footer__column_linksname {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}
.footer__column_sociallinks {
  display: flex;
  flex-direction: column;
}
.footer__column_links_facebook {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.footer__column_links_facebooklogo {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-size: contain;
  background-position: center;
  align-self: center;
}
.footer__column_links_facebooktext {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
.footer__column_links_vcontakte {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.footer__column_links_vcontaktelogo {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-size: contain;
  background-position: center;
  align-self: center;
}
.footer__column_links_vcontaktetext {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
.footer__column_links_instagram {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
}
.footer__column_links_instagramlogo {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-size: contain;
  background-position: center;
  align-self:center;
}
.footer__column_links_instagramtext {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}





